.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.title {
  font-size: 32px;
  font-weight: 600;
}
.desc {
  padding-top: 10px;
  font-weight: 200;
}

.social {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.social a:not(:last-child) {
  margin-right: 10px;
}

.twt {
  color: #1da1f2;
}
.git {
  color: var(--text);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
